.button {
  font-family: var(--font-body);
  font-weight: var(--font-weight-medium);
  font-size: var(--font-size-text);
  font-style: normal;
  border: none;
  cursor: pointer;
}

.button:disabled {
  cursor: not-allowed;
}

.primary {
  padding: 21px;
  border-radius: 15px;
  background-color: var(--primary-button-color);
  color: var(--card-color);
}

.primary:disabled {
  background-color: var(--disabled-button-color);
  color: #606060;
}

.primary:hover:not(:disabled) {
  background-color: var(--hover-button-color);
}

.primary:active:not(:disabled) {
  background-color: var(--active-button-color);
}

.icon {
  padding: 4px;
  border-radius: 4px;
  background: none;
  color: inherit;
}

.icon:disabled {
  background: none;
  opacity: 0.5;
}
