.input {
  width: 100%;
  padding: 10px 12px;
  height: 48px;
  border: none;
  border-radius: 12px;
  font-family: var(--font-body);
  font-size: var(----font-size-text);
  font-weight: var(--font-weight-medium);
  line-height: var(----line-height-text);
  background-color: white;
  outline: none;
  color: var(--input-color);
}

.input::placeholder {
  color: var(--input-color);
}